.title{
    color: #023047;
    font-family: Gotham;
    font-size: 36px;
    font-style: normal;
    font-weight: 350;
    line-height: 110%;
    margin-left: 150px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.second{
    margin-left: 130px;
}