.home{
    height: 517px ;
    background: url('../assets/3dbackgroudai.png')  ;
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 4px 24px 0px rgba(2, 48, 71, 0.36);
}

.in-home{
    color: aliceblue;
    margin-top: 160px;
    margin-left: 210px;
}
.in-home  h1{
    font-family: Gotham;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.in-home p{
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}