.page{
    background:url("../assets/origin.png");
    background-size:'cover';
    background-position:'center';
    max-width: 1452px;
    height: 1088px;
    display:'flex';
    justify-content:'center';
    align-items: 'center';
    color: aliceblue;
    box-shadow: 0px 4px 24px 0px rgba(2, 48, 71, 0.29);
  }
  #title{
    font-family: Futura;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-left: 370px;
    margin-top: 120px;
  }
  .desc{
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-left: 460px;
  }
  .buttons{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
  }
  .btnn{
    width: 170px;
    margin: 8px;
  }
  .dropdown{
    width: 170px;
    height: 43px;
  }
